<section class="rooms">
  <form class="filter">
    <div class="filter-input">
      <svg class="search-icon" height="24" viewBox="0 0 24 24" width="24">
        <path
          d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
        />
      </svg>
      <input placeholder="Find room..." />
    </div>
  </form>

  <ul class="rooms-list">
    <ng-container *ngIf="rooms$ | async as rooms">
      <ng-container *ngIf="activeRoom$ | async as activeRoom">
        <li
          class="item"
          [class.active]="activeRoom.id === room.id"
          *ngFor="let room of rooms"
          (click)="changeRoom(room)"
        >
          <figure class="logo">
            <img [src]="room.avatar" />
          </figure>
          <div class="content">
            <header>
              <strong [title]="room.name">{{ room.name }}</strong>
              <time>{{ room.lastActivity }}</time>
            </header>
            <div class="description">
              {{ room.description }}
            </div>
          </div>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</section>

<div class="chat">
  <header>
    <ng-container *ngIf="activeRoom$ | async as activeRoom">
      <div class="tile">
        <figure class="logo">
          <img [src]="activeRoom.avatar" />
        </figure>

        <div class="content">
          <strong [title]="activeRoom.name">{{ activeRoom.name }}</strong>

          <span>
            {{ activeRoom.description }}
          </span>
        </div>
      </div>
    </ng-container>
  </header>

  <ul class="messages">
    <ng-container *ngIf="messages$ | async as messages">
      <li class="animate-in" *ngFor="let message of messages">
        <figure class="logo">
          <img [src]="message.author.avatar" />
        </figure>

        <div class="content">
          <div class="content-header">
            <strong
              >{{ message.author.firstName }}
              {{ message.author.lastName }}</strong
            >
            <time>{{ message.modificationDate }}</time>
          </div>

          <span>
            {{ message.content }}
          </span>
        </div>
      </li>
    </ng-container>
  </ul>

  <div class="message-form">
    <form>
      <input placeholder="Type message..." />
    </form>
  </div>
</div>
