<section class="rooms">
  <form class="filter">
    <div class="filter-input">
      <svg class="search-icon" height="24" viewBox="0 0 24 24" width="24">
        <path
          d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
        />
      </svg>
      <input placeholder="Find room..." />
    </div>
  </form>

  <ul class="rooms-list">
    <li class="item">
      <figure class="logo">
        <img src="assets/Logo.png" />
      </figure>
      <div class="content">
        <header>
          <strong title="Crypto currency - Chat Room"
            >Crypto currency - Chat Room</strong
          >
          <time>16:45 PM</time>
        </header>
        <div class="description">
          #Exploration - Grup Chat Messenger - To Do List Integratio
        </div>
      </div>
    </li>

    <li class="item">
      <figure class="logo">
        <img src="assets/Logo.png" />
      </figure>
      <div class="content">
        <header>
          <strong title="Crypto currency - Chat Room"
            >Crypto currency - Chat Room</strong
          >
          <time>16:45 PM</time>
        </header>
        <div class="description">
          #Exploration - Grup Chat Messenger - To Do List Integratio
        </div>
      </div>
    </li>

    <li class="item">
      <figure class="logo">
        <img src="assets/Logo.png" />
      </figure>
      <div class="content">
        <header>
          <strong title="Crypto currency - Chat Room"
            >Crypto currency - Chat Room</strong
          >
          <time>16:45 PM</time>
        </header>
        <div class="description">
          #Exploration - Grup Chat Messenger - To Do List Integratio
        </div>
      </div>
    </li>

    <li class="item">
      <figure class="logo">
        <img src="assets/Logo.png" />
      </figure>
      <div class="content">
        <header>
          <strong title="Crypto currency - Chat Room"
            >Crypto currency - Chat Room</strong
          >
          <time>16:45 PM</time>
        </header>
        <div class="description">
          #Exploration - Grup Chat Messenger - To Do List Integratio
        </div>
      </div>
    </li>

    <li class="item">
      <figure class="logo">
        <img src="assets/Logo.png" />
      </figure>
      <div class="content">
        <header>
          <strong title="Crypto currency - Chat Room"
            >Crypto currency - Chat Room</strong
          >
          <time>16:45 PM</time>
        </header>
        <div class="description">
          #Exploration - Grup Chat Messenger - To Do List Integratio
        </div>
      </div>
    </li>

    <li class="item">
      <figure class="logo">
        <img src="assets/Logo.png" />
      </figure>
      <div class="content">
        <header>
          <strong title="Crypto currency - Chat Room"
            >Crypto currency - Chat Room</strong
          >
          <time>16:45 PM</time>
        </header>
        <div class="description">
          #Exploration - Grup Chat Messenger - To Do List Integratio
        </div>
      </div>
    </li>

    <li class="item">
      <figure class="logo">
        <img src="assets/Logo.png" />
      </figure>
      <div class="content">
        <header>
          <strong title="Crypto currency - Chat Room"
            >Crypto currency - Chat Room</strong
          >
          <time>16:45 PM</time>
        </header>
        <div class="description">
          #Exploration - Grup Chat Messenger - To Do List Integratio
        </div>
      </div>
    </li>

    <li class="item">
      <figure class="logo">
        <img src="assets/Logo.png" />
      </figure>
      <div class="content">
        <header>
          <strong title="Crypto currency - Chat Room"
            >Crypto currency - Chat Room</strong
          >
          <time>16:45 PM</time>
        </header>
        <div class="description">
          #Exploration - Grup Chat Messenger - To Do List Integratio
        </div>
      </div>
    </li>

    <li class="item">
      <figure class="logo">
        <img src="assets/Logo.png" />
      </figure>
      <div class="content">
        <header>
          <strong title="Crypto currency - Chat Room"
            >Crypto currency - Chat Room</strong
          >
          <time>16:45 PM</time>
        </header>
        <div class="description">
          #Exploration - Grup Chat Messenger - To Do List Integratio
        </div>
      </div>
    </li>

    <li class="item">
      <figure class="logo">
        <img src="assets/Logo.png" />
      </figure>
      <div class="content">
        <header>
          <strong title="Crypto currency - Chat Room"
            >Crypto currency - Chat Room</strong
          >
          <time>16:45 PM</time>
        </header>
        <div class="description">
          #Exploration - Grup Chat Messenger - To Do List Integratio
        </div>
      </div>
    </li>
  </ul>
</section>

<div class="chat">
  <header>
    <div class="tile">
      <figure class="logo">
        <img src="assets/Logo.png" />
      </figure>

      <div class="content">
        <strong title="Crypto currency - Chat Room"
          >Crypto currency - Chat Room</strong
        >

        <span>
          #Exploration - Grup Chat Messenger - To Do List Integratio
        </span>
      </div>
    </div>
  </header>

  <ul class="messages">
    <li class="animate-in">
      <figure class="logo">
        <img src="assets/Logo.png" />
      </figure>

      <div class="content">
        <div class="content-header">
          <strong title="Crypto currency - Chat Room"
            >Crypto currency - Chat Room</strong
          >
          <time>13 h ago</time>
        </div>

        <span>
          #Exploration - Grup Chat Messenger - To Do List Integratio
          #Exploration - Grup Chat Messenger - To Do List Integratio
          #Exploration - Grup Chat Messenger - To Do List Integratio
          #Exploration - Grup Chat Messenger - To Do List Integratio
          #Exploration - Grup Chat Messenger - To Do List Integratio
          #Exploration - Grup Chat Messenger - To Do List Integratio
        </span>
      </div>
    </li>
  </ul>

  <div class="message-form">
    <form>
      <input placeholder="Type message..." />
    </form>
  </div>
</div>
